{% extends 'main/index.html' %}
{% load static %}

{% block css %}
<link href="{% static 'goods/css/catalog.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-6">
      {% for product in products %}
      <div class="col mb-5 d-flex">
        <div class="product-item">
          <a href="{% url 'crud_app:detail_product' product.slug %}">
            <div class="product-thumbnail-wrapper">
              <img src="{{ product.image.url }}" class="img-fluid product-thumbnail">
              {% if product.discount %}
              <span class="discount-badge">-{{ product.discount }}%</span>
              {% endif %}
            </div>
            <h3 class="product-title">{{ product.name }}</h3>
            <strong class="product-price">${{ product.price }}</strong>
          </a>
          <a class="nav-link icon-cross" href="{% url 'cart:cart_add' product.id %}">
            <img src="{% static 'goods/images/cross.svg' %}" class="img-fluid">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
